# Pandas Review using a Pokemon Dataset

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [44]:
df.shape

(800, 13)

In [4]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [43]:
list(df.columns)

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [6]:
df.describe(include='all')Rabeka Branham

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
count,800.000000,800,800,414,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800
unique,NaN,800,18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,Bulbasaur,Water,Flying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,NaN,1,112,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735
mean,362.813750,NaN,NaN,NaN,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,NaN
std,208.343798,NaN,NaN,NaN,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,NaN
min,1.000000,NaN,NaN,NaN,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,NaN
25%,184.750000,NaN,NaN,NaN,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,NaN
50%,364.500000,NaN,NaN,NaN,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,NaN
75%,539.250000,NaN,NaN,NaN,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,NaN
max,721.000000,NaN,NaN,NaN,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,NaN

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [66]:
df.columns = [column.lower() for column in df.columns]
df.columns = [column.replace(' ','') for column in df.columns]
df.columns = [column.replace('.','_') for column in df.columns]

#### 3. What is the highest HP value present?

A: 255

In [47]:
df.hp.max()

255

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

A: Blissey

In [111]:
df[['name','hp']][df.hp == df.hp.max()]Rabeka Branham

        name   hp
261  Blissey  255

#### 5. How many different types are represented in Type 1? What are they?

A: 18,  ['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying']

In [110]:
df.type1.nunique()

18

In [109]:
list(df.type1.unique())

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

#### 6. Number of Pokemon whose Type 2 is Ghost

A: 14

In [108]:
df[df['type2'] == 'Ghost'].type2.count()

14

#### 7. Percentage of Pokemon whose Type 2 is Ghost

A: 1.75

In [107]:
x = df[df['type2'] == 'Ghost'].type2.count()
y = df.name.count()

round(x/y*100,2)

1.75

#### 8. Number of Pokemon whose Attack is greater than Defense

A: 433

In [106]:
len(df[df['attack'] > df['defense']])

433

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

A: 10

In [122]:
df[(df['type1'] == 'Grass') | (df['type2'] == 'Grass')].speed.min()

10

#### 10. Find the average speed by Generation

A: generation
- 1:    72.6
- 2:    61.8
- 3:    66.9
- 4:    71.3
- 5:    68.1
- 6:    66.4

In [133]:
df['speed'].groupby(df.generation).mean().round(1)

generation
1    72.6
2    61.8
3    66.9
4    71.3
5    68.1
6    66.4
Name: speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

A: 16

In [153]:
len(df[(df['legendary'] == True) & ((df['type1'] == 'Dragon') | (df['type2'] == 'Dragon'))])

16